!.gitignore

*.class

# Build directories #
bin/
boot/
build/
lib_managed/
project/target/
project/project/target/
project-*/
target/

# Package files #
*.jar
*.war
*.ear

# Hidden and service files #
*~
.*
_*
